<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
    <div class="col-2">
      <div class="dropdown-menu show menu-style">
        <a class="dropdown-item" routerLink="list" routerLinkActive="active">List All Theatres</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLinkActive="active" routerLink="createTheatre">Create Theatre</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="listmovies" routerLinkActive="active">List / Create Movie</a>
      </div>
    </div>
  </div>
</div>

