<div class="navbar navbar-dark bg-primary navbar-expand-lg">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="movies" routerLinkActive="active">Movies</a>
    <a class="nav-item nav-link" routerLink="history" routerLinkActive="active">History</a>
    <a class="nav-item nav-link" routerLink="admin" routerLinkActive="active" *ngIf="isAdmin">Admin</a>

  </div>
  <button class="btn btn-light float-right ml-auto" type="button" (click)="logout()">Logout</button>
</div>
