<div class="row justify-content-center align-items-center border-primary">
  <form class="col-4" style="margin: 10px;">
    <div class="card border-primary">
      <div class="card-header bg-primary text-white">Create Movie</div>

      <div class="card-body">
        <div class="form-group">
          <label for="name">Movie Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="movieName">
        </div>
      </div>
      <div class="card-footer text-center">
        <button type="submit" class="btn btn-primary" (click)="createMovie()" [disabled]="loading">
          <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="loading"></span>
          Create
        </button>
      </div>
    </div>
  </form>
</div>
<br>

<div class="form-group top-margin row  col-md-5 -pull-right">
  <label for="filterBYMovie" class="col-md-2 col-form-label">Filter</label>
  <div class="col-md-10">
    <input type="text" id="filterBYMovie" class="form-control"
           [(ngModel)]="searchMovie" placeholder="search by movie name">
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th style="width: 10%">#</th>
    <th>Movie</th>
    <th style="width: 15%"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let movie of movies | movieNameFilter: searchMovie; let i=index">
    <th scope="row">{{i+1}}</th>
    <td>{{movie.name}}</td>
    <td>
      <button class="btn btn-link" disabled>
        <i class="fa fa-trash-alt"></i>
        Remove
      </button>
    </td>
  </tr>
  </tbody>
</table>
