<div class="container h-100">
  <navbar *ngIf="loggedIn"></navbar>
  <div *ngIf="message" style="margin-top: 10px;"
       [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">
    {{message.text}}
  </div>
  <div class="loader" *ngIf="showloader"></div>
  <router-outlet></router-outlet>
</div>
