<div class="row h-100 justify-content-center align-items-center border-primary">
  <form class="col-4" #loginForm="ngForm" (ngSubmit)="login()">

    <div class="alert alert-info small">
      <ul>
        <li>User: user@user.com, Password: user</li>
        <li>Admin: admin@admin.com, Password: admin</li>
      </ul>
    </div>

    <div class="card border-primary">
      <div class="card-header bg-primary text-white">Login</div>
      <div class="card-body">

        <div class="form-group">
          <label for="user_name">Username</label>
          <input id="user_name" type="email" class="form-control" name="user_name" required email
                 [(ngModel)]="loginModel['username']" #user_name="ngModel"
                 [class.is-invalid] = "user_name.invalid && user_name.touched">
          <span class="text-danger" *ngIf="user_name.errors?.required && user_name.touched">This is a required field</span>
          <span class="text-danger" *ngIf="user_name.errors?.email && user_name.touched">Please enter valid email here</span>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="password" class="form-control" required name="password"
                 [(ngModel)]="loginModel['password']" #pass="ngModel"
                 [class.is-invalid]="pass.touched && pass.invalid">
          <span class="text-danger" *ngIf="pass.errors?.required && pass.touched">This is a required Field</span>
        </div>
      </div>
      <div class="card-footer text-center">
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid || loading">
          <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="loading"></span>
          Login
        </button>
      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger text-wrap">{{error}}</div>
  </form>
</div>
