<form [formGroup]="theatreForm" (submit)="onSubmit()">

  <div class="card border-primary" style="margin-top: 10px;">
    <div class="card-header bg-primary text-white">Create Theatre</div>
    <div class="card-body">

      <div class="form-group">
        <label for="name">Theatre name</label>
        <input type="text" class="form-control" id="name" formControlName="theatreName"
               [ngClass]="{'is-invalid': theatreForm.get('theatreName').invalid && theatreForm.get('theatreName').touched}">
        <span class="invalid-feedback" *ngIf="theatreForm.get('theatreName').errors?.required && theatreForm.get('theatreName').touched">Audi name is required</span>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="button" (click)="onAddAudi()" [disabled]="theatreForm.get('audis').invalid">Add Audi</button>
      </div>

      <div class="card card-body bg-light">
        <div formArrayName="audis" *ngFor="let audi of theatreForm.get('audis').controls; let i = index">
          <hr *ngIf="i>0">
          <div [formGroupName]="i">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label [attr.for]="'audiName'+i">Audi name</label>
                <input type="text" class="form-control" [id]="'audiName'+i" formControlName="audiName"
                       [ngClass]="{'is-invalid': audi.get('audiName').invalid && audi.get('audiName').touched}">
                <span class="invalid-feedback" *ngIf="audi.get('audiName').errors?.required && audi.get('audiName').touched">Audi name is required</span>
              </div>

              <div class="form-group col-md-6">
                <label [attr.for]="'seats'+i">Seats</label>
                <input type="text" class="form-control" [id]="'seats'+i" formControlName="seats"
                       [ngClass]="{'is-invalid': audi.get('seats').invalid && audi.get('seats').touched}">
                <span class="invalid-feedback" *ngIf="audi.get('seats').errors?.required && audi.get('seats').touched">Number of seats is required</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary" [disabled]="theatreForm.invalid">
        <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="loading"></span>
        Create Theatre</button>
    </div>
  </div>

</form>
