<table class="table table-striped" *ngIf="bookings.length > 0">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Theatre</th>
    <th scope="col">Movie</th>
    <th scope="col">Audi</th>
    <th scope="col">#Seats</th>
    <th scope="col">Show Time</th>
    <th scope="col">Booked On</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let booking of bookings; let i = index">
    <th scope="row">{{i+1}}</th>
    <td>{{booking.showTime.theatre.name}}</td>
    <td>{{booking.showTime.movie.name}}</td>
    <td>{{booking.showTime.auditorium.name}}</td>
    <td>{{booking.seats}}</td>
    <td>{{booking.showTime.dateTime | momentDateTime}}</td>
    <td>{{booking.bookedOn | momentDateTime}}</td>
  </tr>
  </tbody>
</table>
