<div class="form-group top-margin row  col-md-6">
  <label for="filterDate" class="col-md-2 col-form-label">Filter</label>
  <div class="col-md-10">
    <input type="text" id="filterDate" class="form-control "
           bsDatepicker [bsConfig]="datePickerConfig" [(ngModel)]="selectedDate"
           placeholder="Select Date" (bsValueChange)="filterTheatre($event)">
  </div>
</div>
<div *ngFor="let theatre of theatres">
  <h3 class="text-primary header">
    {{theatre.name}}
  </h3>

  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 8%">#</th>
      <th style="width: 15%">Audi</th>
      <th style="width: 8%">Seats</th>
      <th style="width: 20%">Movie</th>
      <th style="width: 37%">Shows</th>
      <th style="width: 12%"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let audi of theatre.auditoriumns; let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{audi.name}}</td>
      <td>{{audi.seats}}</td>
      <td>{{audi.movie?.name}}</td>
      <td>{{audi.showTimes | timeConcat}}</td>
      <td>
        <button class="btn btn-link float-right" (click)="goToEdit(theatre.id, audi.id)">
          <i class="fa fa-edit"></i>
          Edit
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
