<form [formGroup]="showTimes">

  <div class="card border-primary" style="margin-top: 10px;">
    <div class="card-header bg-primary text-white">Show Times</div>
    <div class="card-body">

      <div class="form-group">
        <label>Theatre Name</label>
        <input type="text" class="form-control disabled" formControlName="theatreName" readonly>
      </div>

      <div class="form-group">
        <label>Audi Name</label>
        <input type="text" class="form-control" formControlName="audiName" readonly>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="addDateControls()">
          <i class="fa fa-plus"></i>
          Add Day
        </button>
      </div>

      <div>
        <div formArrayName="days" *ngFor="let day of daysArray.controls; let dayIndex = index;">
          <div class="card bg-light">
            <div class="card-body">
              <div [formGroupName]="dayIndex">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label [attr.for]="'dateOfScreening'+dayIndex">Date of Screening</label>
                    <input [id]="'dateOfScreening'+ dayIndex" type="text" class="form-control" formControlName="date"
                           bsDatepicker [bsConfig]="datePickerConfig"
                           [ngClass]="{'is-invalid': day.get('date').invalid && day.get('date').touched}">
                    <span class="invalid-feedback" *ngIf="day.get('date').errors?.required && day.get('date').touched">Date is required</span>
                  </div>

                  <div class="form-group col-md-6">
                    <label [attr.for]="'movie'+dayIndex">Movie</label>
                    <select [id]="'movie'+dayIndex" class="form-control" formControlName="movieId"
                            [ngClass]="{'is-invalid': day.get('movieId').invalid && day.get('movieId').touched}">
                      <option *ngFor="let movie of movies" [value]="movie.id">{{movie.name}}</option>
                    </select>
                    <span class="invalid-feedback" *ngIf="day.get('movieId').errors?.required && day.get('movieId').touched">Movie is required</span>
                  </div>
                </div>

                <div formArrayName="times">
                  <div class="form-group">
                    <button type="button" class="btn btn-primary" (click)="addTimeControl(dayIndex)">
                      <i class="fa fa-plus"></i>
                      Add time slot
                    </button>
                  </div>
                  <div class="card-deck">
                    <div *ngFor="let itrTime of day.controls.times.controls;let timeIndex = index;"
                         [formGroupName]="timeIndex">

                      <div class="card card-body bg-light"
                           style="min-width: 14rem; max-width: 14rem; padding: 0.40rem ">
                        <div class="form-row">
                          <div class="form-group col-md-11">
                            <!--<input type="text" class="form-control" formControlName="time">-->
                            <timepicker formControlName="time"></timepicker>
                          </div>
                          <div class="form-group col-md-1">
                            <button class="form-control btn" (click)="removeTimesControl(dayIndex, timeIndex)">
                              <i class="fa fa-times"
                                 style="position: absolute; margin-top: -20px; margin-left: -15px; color: #ff0000"></i>
                            </button>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-danger" (click)="removeDateControls(dayIndex)">
                <i class="fa fa-trash-alt"></i>
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary" (click)="saveShowTimes()" [disabled]="showTimes.invalid">Save
      </button>
    </div>
  </div>
</form>
