<div class="form-group top-margin row  col-md-5">
  <label for="filterByDate" class="col-md-2 col-form-label">Filter</label>
  <div class="col-md-10">
    <input type="text" id="filterBYDate" class="form-control"
           bsDatepicker [bsConfig]="datePickerConfig" [(ngModel)]="selectedDate"
           placeholder="Select Date" (bsValueChange)="filterTheatre($event)">
  </div>
</div>
<h3 class="text-info" *ngIf="!theatres || theatres.length == 0">No Shows Found for this date !!</h3>
<div *ngFor="let theatre of theatres">
  <h3 class="header">{{theatre.name}}</h3>

  <div class="card-deck">
    <div *ngFor="let movie of theatre.movies">
      <div class="card card-width border-primary">
        <div class="card-header bg-primary text-white">{{movie.name}}</div>
        <img src="https://loremflickr.com/300/230/movie?random={{movie.name}}" class="w-100 h-100 card-img-top">
        <!--<div class="card-body">
          <h4>{{movie.name}}</h4>
        </div>-->
        <div class="card-footer">
        <span *ngFor="let slot of movie.slots">
          <button class="btn btn-primary btn-margins" (click)="goToBookTicketPage(slot.id)">{{slot.dateTime | momentTime}}</button>
        </span>
        </div>
      </div>
    </div>
  </div>

</div>
