.card-width{
  min-width: 20rem;
  max-width: 21rem;
  min-height: 18rem;
}

.btn-margins{
  margin: 5px;
}

.header{
  color: #0069D9;
  border-bottom: 1px solid #0069D9;
  margin-top: 20px;
  margin-bottom: 15px;
}

.top-margin{
  margin-top: 20px;
}
