<div class="row h-100 justify-content-center align-items-center border-primary">
  <form class="col-4" style="margin-top: -30px">
    <div class="card border-primary">
      <div class="card-header bg-primary text-white">Book Ticket</div>

      <div class="card-body">
        <h5 class="card-title text-center">{{showTiming.movie.name}}</h5>
        <h6 class="card-text text-center">{{showTiming.theatre.name}} - {{showTiming.dateTime | momentDateTime}}</h6>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="seats">Seats</label>
          </div>
          <select class="custom-select" id="seats" name="seat" [(ngModel)]="seats">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
        </div>
      </div>
      <div class="card-footer text-center">
          <button type="submit" class="btn btn-primary" (click)="bookTicket()" [disabled]="loading">
            <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="loading"></span>
            Book
          </button>
      </div>
    </div>
  </form>
</div>
